/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
li{list-style: none;}
a,a:hover{text-decoration:none;cursor:pointer;color:#fff;}
/* body */
#container{width:768px;margin:0 auto;font:normal 14px/1.5 arial,"宋体",sans-serif;}
.g-sd,.g-mn{float:left;height:600px;padding:20px 15px;}
.m-wrap{width:100%;margin-top:20px;}
.m-wrap h3{height:30px;line-height:30px;margin-bottom:5px;border-bottom:2px solid #fff;font-size:16px;font-weight:bold;text-align:left;}
/* 左侧 */
.g-sd{width:210px;color:#fff;background-color:#369;}
.m-hd{text-align:center;}
.m-hd img{border-radius:50%;}
.m-hd .name{font-size:16px;}
.m-wrap-left .hobbies li{float:left;width:30%;text-align:center;}
/* 右侧 */
.g-mn{width:498px;color:#369;background-color:#eee;}
.m-wrap-right h3{border-bottom-color:#369;}
.m-wrap-right a,.m-wrap-right a:hover{color:#000;}
.m-wrap-right .cnt dt{margin-bottom:3px;font-weight:bold;}
.m-wrap-right .cnt dd{font-size:13px;}
.m-wrap-right .cnt li{margin-top:3px;}