.wbdCv-baseTop{padding: 190px 40px 0 40px;background: #fff url(../imgs/sjs0056/j1_head.jpg) no-repeat top left;}
.wbdCv-baseLeft{display: none;}
.wbdCv-baseRight{width:auto; background: #fff; padding: 0 40px 40px;}
.wbdCv-baseRight .baseItem{position:relative;}
.wbdCv-baseRight .baseItem dl,.wbdCv-baseRight .bInfoItem dl{position:relative;border-bottom: none;border-top: none;padding:0;}
.wbdCv-baseRight .baseItem:first-child{;padding-top: 35x;}
.wbdCv-baseRight .baseItem dl:before{position: absolute;content: "";bottom: 73px;left: 19px;width: 1px;height: 100px;}
.wbdCv-baseStyle dl dt a.wbdfont{display: none;}
.wbdCv-resume .moduleItem{background: #fff;}
.wbdCv-resume .moduleItem dl dt{display: block;position: relative;height: 40px;background: url(../imgs/sjs0056/j1_dt_bg.png) no-repeat;color: #fff;}
.wbdCv-resume .moduleItem dl dt span{height: 31px;line-height: 31px;background: #4e7282 url(../imgs/sjs0056/j1_span_bg.png) no-repeat top right;padding-right: 60px;padding-left: 44px;font-size: 18px;display: inline-block;font-weight: bold;}
.wbdCv-resume .moduleItem dl dt:before{position: absolute;content: "";border-top: 1px solid #4e7282;bottom: 8px;left: 2px;width: 100%;}
.wbdCv-resume .moduleItem dl dd{border-left: 1px solid #4e7282;margin-left: 19px;padding-left: 20px;margin-top: -3px;}
.wbdCv-baseStyle .baseItem .dd-title span.time{width: 140px;}
.wbdCv-baseStyle .baseItem .dd-title span.company{width: 278px;}
.wbdCv-baseStyle .baseItem .dd-title span.post{width: 240px;}
.wbdCv-cover .coverItem{position: absolute;top: 854px;left: 0;width: 360px;padding-left: 20px;color: #fff;font-size: 16px;}
/*åœ¨çº¿ç¼–è¾‘6.2.0 å—è·è®¾ç½®*/
.wbdCv-baseRight .moduleItem dl dd{padding-top:10px;padding-bottom:60px;}
.wbdCv-baseStyle[data-modal_margin='0'] .baseItem dl dd{padding-bottom:0;}
.wbdCv-baseStyle[data-modal_margin='0.2'] .baseItem dl dd{padding-bottom:12px;}
.wbdCv-baseStyle[data-modal_margin='0.4'] .baseItem dl dd{padding-bottom:24px;}
.wbdCv-baseStyle[data-modal_margin='0.6'] .baseItem dl dd{padding-bottom:36px;}
.wbdCv-baseStyle[data-modal_margin='0.8'] .baseItem dl dd{padding-bottom:48px;}
.wbdCv-baseStyle[data-modal_margin='1'] .baseItem dl dd{padding-bottom:60px;}
.wbdCv-baseStyle[data-modal_margin='1.2'] .baseItem dl dd{padding-bottom:72px;}
.wbdCv-baseStyle[data-modal_margin='1.4'] .baseItem dl dd{padding-bottom:84px;}
.wbdCv-baseStyle[data-modal_margin='1.6'] .baseItem dl dd{padding-bottom:96px;}
.wbdCv-baseStyle .baseItem.inteItem dl dd{padding-bottom:30px;}
/*åœ¨çº¿ç¼–è¾‘6.2.0 å—è·è®¾ç½® end*/

/*åŸºæœ¬ä¿¡æ¯*/
.wbdCv-baseStyle .nameItem dl dd{border: none;}
.wbdCv-baseStyle .bInfoItem dl dt{display: none;}
.wbdCv-baseStyle .bInfoItem dl{padding: 0;}
.wbdCv-baseStyle .infoItem dl dt{display: block;}
.wbdCv-baseStyle .infoItem{display: block;background: #fff;}
.wbdCv-baseStyle .infoItem .info-list,.wbdCv-baseStyle .homeItem .home-list{display: inline-block;width: auto;}
.wbdCv-baseStyle .infoItem .info-list a.wbdfont,.wbdCv-baseStyle .homeItem .home-list a.wbdfont{display: none;}
.wbdCv-baseStyle .infoItem .info-list span,.wbdCv-baseStyle .homeItem .home-list .name{border-right: 2px solid #ccc;padding-right: 8px;margin-right: 2px;display: block;line-height: 12px;}
.wbdCv-baseStyle .infoItem .info-list:last-child span,.wbdCv-baseStyle .homeItem .home-list:last-child .name{border-right-color: transparent;}
.wbdCv-baseStyle .infoItem dl dd{width: 606px;padding-top: 90px;padding-bottom: 20px;}

/*å¤´åƒ*/
.wbdCv-baseStyle .headItem{position: absolute;top: 224px;right: 40px;z-index: 1;background: transparent;}
.wbdCv-baseStyle .headItem dl dd{border: none;padding: 0;margin: 0;}
.wbdCv-baseStyle .headItem dl dt{display: none;}

/*ä¸ªäººä¸»é¡µ*/
.wbdCv-baseStyle .homeItem dl dd{padding-top: 0;padding-bottom: 14px;}
.wbdCv-baseStyle .homeItem dl dd{width: 606px;padding-left: 22px;}
/*ç¤¾äº¤è´¦å·*/
.wbdCv-baseStyle .socialItem dl dd{padding-bottom:30px;}
/*å§“å*/
.wbdCv-baseStyle .nameItem {position:absolute; top:238px; left:80px; z-index:1; width:560px;}
.wbdCv-baseStyle .nameItem .name-con div{display:inline-block; padding-right:10px;}
.wbdCv-baseStyle .nameItem .name-con .word{display:block;}/*æ ‡ç­¾ä¸Žä¸€å¥è¯æ¢è¡Œæ˜¾ç¤º*/
/*åœ¨çº¿ç¼–è¾‘6.2.0 æ–°å¢žæ ‡ç­¾æ¨¡å—*/
.wbdCv-baseStyle .nameItem .name-con .resume_tag{display:inline-block; height:45px; line-height:47px;}
.nameItem .name-con .resume_tag span:nth-child(1){border-color:#404552; color:#404552;}
.nameItem .name-con .resume_tag span:nth-child(2){border-color:#00c091; color:#00c091;}
.nameItem .name-con .resume_tag span:nth-child(3){border-color:#ff7272; color:#ff7272;}
/*åœ¨çº¿ç¼–è¾‘6.2.0 æ–°å¢žæ ‡ç­¾æ¨¡å—end*/
.wbdCv-baseStyle .nameItem dl dd,.wbdCv-baseStyle .nameItem dl{padding: 0;margin: 0;}

/*èŒä¸šæŠ€èƒ½*/
.wbdCv-baseStyle .skillItem .skill-list{float:left; width:41%; margin:15px 0 0 0;}
.wbdCv-baseStyle .skillItem .skill-list:nth-child(2),.wbdCv-baseStyle .skillItem .skill-list:nth-child(3){margin-top:0;}
.wbdCv-baseStyle .skillItem .skill-list:nth-child(2n+2){margin-right:17%;}
.wbdCv-baseStyle .skill-list .skill-slider span{width:28%;}
.wbdCv-baseStyle .skill-list .skill-slider s{display:inline-block; width:200px; height:10px; background:#e4e4e4;}
.wbdCv-baseStyle .skill-list .skill-slider s i{display:block; width:80%; height:100%; background:#4487c6;}

/*å…´è¶£çˆ±å¥½*/
.wbdCv-baseStyle .hobby-list{width: 75px;}
.wbdCv-baseStyle .hobbyItem .hobby-list{margin: 25px 48px 0 0;}
.wbdCv-baseStyle .hobbyItem .hobby-list:nth-child(2),.wbdCv-baseStyle .hobbyItem .hobby-list:nth-child(3),.wbdCv-baseStyle .hobbyItem .hobby-list:nth-child(4),.wbdCv-baseStyle .hobbyItem .hobby-list:nth-child(5),.wbdCv-baseStyle .hobbyItem .hobby-list:nth-child(6),.wbdCv-baseStyle .hobbyItem .hobby-list:nth-child(7){margin-top:0;}
.wbdCv-baseStyle .hobbyItem .hobby-list:nth-child(6n+7){margin-right: 0;}
.wbdCv-baseStyle .hobbyItem .hobby-list a.wbdfont{font-size: 28px;display: block;text-align: center;line-height:70px;width: 75px;height: 70px;border: 1px solid #92a2b2;border-radius: 4px;}
.wbdCv-baseStyle .hobbyItem .hobby-list .hobby-title{width: 75px;}
.hobbyItem .hobby-list .delete{margin-right:-10px;}

/*ä½œå“é›†*/
.wbdCv-baseStyle .work-list{width: 328px;margin-right: 34px;border: 1px solid #e9e9e9;}
.wbdCv-baseStyle .work-list .work-img{height: 272px;overflow: hidden;width: 326px;}
.wbdCv-baseStyle .work-list .work-img img{display: block;width: 100%;}
.wbdCv-baseStyle .work-list:nth-of-type(even){margin-right: 0;}

/*æŽ¨èä¿¡*/
.wbdCv-baseStyle .recoment-list .info{width: 631px;float: left;padding-left: 15px;padding-top: 2px;}
.wbdCv-baseStyle .recoment-list .info .name{font-size: 16px;color: #282828;font-weight: bold;width: 100%;}
.wbdCv-baseStyle .recoment-list .info span{font-size: 12px;color: #9f9f9f;}
.wbdCv-baseStyle .recoment-list .text{color: #7c7c7c;}
.wbdCv-baseStyle .recoment-list .info span.time{width: 111px;text-align: right;}
.wbdCv-baseStyle .recoment-list .info span.relation{width: 485px;}

/*è”ç³»æˆ‘*/
.wbdCv-baseStyle .contactItem .contact-con div[contenteditable].phone{width: 456px;}

/*é¢œè‰²è®¾ç½®*/
.wbdCv-baseStyle[data_color="j1"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-cover{background: url(../imgs/jf/jf0001_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-letter{background: url(../imgs/zjx/zjx0005_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .moduleItem dl:before{background: #0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .moduleItem dl:before{background: #254665;}
.wbdCv-baseStyle[data_color="j3"] .moduleItem dl:before{background: #589bf7;}
.wbdCv-baseStyle[data_color="j4"] .moduleItem dl:before{background: #ff7171;}
.wbdCv-baseStyle[data_color="j5"] .moduleItem dl:before{background: #37b754;}
.wbdCv-baseStyle[data_color="j6"] .moduleItem dl:before{background: #292929;}
.wbdCv-baseStyle[data_color="j7"] .moduleItem dl:before{background: #ee7000;}
.wbdCv-baseStyle[data_color="j8"] .moduleItem dl:before{background: #a29177;}
.wbdCv-baseStyle[data_color="j9"] .moduleItem dl:before{background: #da180f;}
.wbdCv-baseStyle[data_color="j10"] .moduleItem dl:before{background: #6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .moduleItem dl:before{background: #048BB3;}
.wbdCv-baseStyle[data_color="j12"] .moduleItem dl:before{background: #5974D4;}
.wbdCv-baseStyle[data_color="j13"] .moduleItem dl:before{background: #9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .moduleItem dl:before{background: #d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .moduleItem dl:before{background: #69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j1"] .wbdCv-resume .moduleItem dl dd{border-color: #0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j2"] .wbdCv-resume .moduleItem dl dd{border-color: #254665;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j3"] .wbdCv-resume .moduleItem dl dd{border-color: #589bf7;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j4"] .wbdCv-resume .moduleItem dl dd{border-color: #ff7171;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j5"] .wbdCv-resume .moduleItem dl dd{border-color: #37b754;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j6"] .wbdCv-resume .moduleItem dl dd{border-color: #292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j7"] .wbdCv-resume .moduleItem dl dd{border-color: #ee7000;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j8"] .wbdCv-resume .moduleItem dl dd{border-color: #a29177;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j9"] .wbdCv-resume .moduleItem dl dd{border-color: #da180f;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j10"] .wbdCv-resume .moduleItem dl dd{border-color: #6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j11"] .wbdCv-resume .moduleItem dl dd{border-color: #048BB3;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j12"] .wbdCv-resume .moduleItem dl dd{border-color: #5974D4;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j13"] .wbdCv-resume .moduleItem dl dd{border-color: #9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j14"] .wbdCv-resume .moduleItem dl dd{border-color: #d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-resume .moduleItem dl dt:before,.wbdCv-baseStyle[data_color="j15"] .wbdCv-resume .moduleItem dl dd{border-color: #69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j1_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j2_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j3_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j4_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j5_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j6_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j7_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j8_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j9_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j10_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j11_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j12_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j13_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j14_head.jpg) no-repeat top left;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseTop{background: #fff url(../imgs/sjs0056/j15_head.jpg) no-repeat top left;}

.wbdCv-baseStyle[data_color="j1"] .moduleItem dl dt{background: url(../imgs/sjs0056/j1_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j2"] .moduleItem dl dt{background: url(../imgs/sjs0056/j2_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j3"] .moduleItem dl dt{background: url(../imgs/sjs0056/j3_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j4"] .moduleItem dl dt{background: url(../imgs/sjs0056/j4_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j5"] .moduleItem dl dt{background: url(../imgs/sjs0056/j5_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j6"] .moduleItem dl dt{background: url(../imgs/sjs0056/j6_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j7"] .moduleItem dl dt{background: url(../imgs/sjs0056/j7_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j8"] .moduleItem dl dt{background: url(../imgs/sjs0056/j8_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j9"] .moduleItem dl dt{background: url(../imgs/sjs0056/j9_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j10"] .moduleItem dl dt{background: url(../imgs/sjs0056/j10_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j11"] .moduleItem dl dt{background: url(../imgs/sjs0056/j11_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j12"] .moduleItem dl dt{background: url(../imgs/sjs0056/j12_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j13"] .moduleItem dl dt{background: url(../imgs/sjs0056/j13_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j14"] .moduleItem dl dt{background: url(../imgs/sjs0056/j14_dt_bg.png) no-repeat 0 9px;}
.wbdCv-baseStyle[data_color="j15"] .moduleItem dl dt{background: url(../imgs/sjs0056/j15_dt_bg.png) no-repeat 0 9px;}

.wbdCv-baseStyle[data_color="j1"] .moduleItem dl dt span{background: #0b70bd url(../imgs/sjs0056/j1_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j2"] .moduleItem dl dt span{background: #254665 url(../imgs/sjs0056/j2_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j3"] .moduleItem dl dt span{background: #589bf7 url(../imgs/sjs0056/j3_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j4"] .moduleItem dl dt span{background: #ff7171 url(../imgs/sjs0056/j4_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j5"] .moduleItem dl dt span{background: #37b754 url(../imgs/sjs0056/j5_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j6"] .moduleItem dl dt span{background: #292929 url(../imgs/sjs0056/j6_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j7"] .moduleItem dl dt span{background: #ee7000 url(../imgs/sjs0056/j7_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j8"] .moduleItem dl dt span{background: #a29177 url(../imgs/sjs0056/j8_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j9"] .moduleItem dl dt span{background: #da180f url(../imgs/sjs0056/j9_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j10"] .moduleItem dl dt span{background: #6b4b24 url(../imgs/sjs0056/j10_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j11"] .moduleItem dl dt span{background: #048BB3 url(../imgs/sjs0056/j11_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j12"] .moduleItem dl dt span{background: #5974D4 url(../imgs/sjs0056/j12_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j13"] .moduleItem dl dt span{background: #9D57CA url(../imgs/sjs0056/j13_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j14"] .moduleItem dl dt span{background: #d4ba38 url(../imgs/sjs0056/j14_span_bg.jpg) no-repeat top right;}
.wbdCv-baseStyle[data_color="j15"] .moduleItem dl dt span{background: #69cc41 url(../imgs/sjs0056/j15_span_bg.jpg) no-repeat top right;}

.wbdCv-baseStyle .socialItem .social-list a{background: transparent url(../imgs/social/j17_social.png) no-repeat 0 0;border:1px solid #cecece;}
